
:root {
  --white-two: #ffffff;
  --white:#f9f9f9;
  --site-family: Montserrat;
  --navColor:#303030;
  --contentWidth:80%;
}
%text-css{
  font-family: Montserrat;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0;
}


body {
 background-color: var(--white);
 margin: 0;
 text-align: center;
  .Homework_Front-End_01 {
    font-family: var(--site-family);
    
    .mobile {
      display: block;}
  }
  
  .navbar{
    background-color: var(--navColor);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .navbar-content{
        width: 100%;
        margin: auto;
        padding: 10px;
      }

      .logo{
        text-align: left;
        .logo_horizontal-2{
        width: 37px;
        height: 37px;
        fill: var(--white);
    }  
        
          .logo_horizontal-1 {
           display: none;
         }
    
    }
    @media screen and (min-width: 768px){
        .navbar-content{
          width: var(--contentWidth);
          margin: auto;

          .logo_horizontal-1 {
             width: 137px;
             height: 38px;
             object-fit: contain;
             display: block;
          }
          .mobile{
            display: none;
          }
          
        }
        
    }

  }

  footer{
    position: fixed;
    bottom: -5px;
   img{ 
    height: auto;
    width: 100%;}
  }

}

.app{
  width: 100%;
}

*{
    box-sizing: border-box;
}