:root {
  --white-two: #ffffff;
  --white: #f9f9f9;
  --site-family: Montserrat;
  --navColor: #303030;
  --contentWidth: 90%;
  --white-three: #ecebe9;
  --tea: #68b680;
  --lightish-red: #ff3750;
  --black-two: #313131;
  --macaroni-and-cheese: #f3a536;
  --light-forest-green: #46915d;
  --faded-red: #ce2c40;
  --macaroni-and-cheese: #f3a536;
  --dodger-blue: #36aef3;
  --tomato: #f33636;
  --pastel-orange: #ff915b;
  --light-gold: #ffdf5b;
  --kiwi-green: #8fe360;
  --weird-green: #57e690;
}


@media screen and (min-width: 768px) {
  :root {
    --contentWidth: 80%;
  }
}

%text-css {
  font-family: Montserrat;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0;
}

%arrow-down{
  position: absolute;
    bottom: 14px;
    right: 16px;
}

body {
  background-color: var(--white);
  margin: 0;
  text-align: center;
  .Homework_Front-End_01 {
    font-family: var(--site-family);

    .mobile {
      display: block;
    }
  }

  footer {
    bottom: -5px;
    img {
      height: auto;
      width: 100%;
    }
  }
}

.app {
  width: 100%;
}

* {
  box-sizing: border-box;
}
