@import "style-basics.scss";
.jokes-container {
  margin: auto;
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 16px 20px;
  width: var(--contentWidth);
  .group {
    height: auto;

    border-radius: 2px;
    border: solid 1px var(--white-three);
    background-color: var(--white-two);
    .section {
      .joke {
        padding: 16px;
        @extend %text-css;

        h3 {
          font-size: 16px;
          font-weight: 600;
          line-height: 1.25;
          color: #303030;
          margin: 0;
          text-align: left;

          height: 20px;
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 600;
        }
        p {
          padding-top: 6px;
          font-size: 14px;
          font-weight: normal;
          line-height: 1.57;
          color: #303030;
          margin: 0;
          text-align: left;
        }
      }
    }
  }
  .group:hover{
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.15);
  }
}

.view-more {
  margin: auto;
  margin-top: 64px;
  margin-bottom: 64px;
  width: 206px;
  height: 48px;
  border-radius: 2px;
  border: solid 1px #d1bb91;
  text-transform: uppercase;
  @extend %text-css;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  text-align: center;
  color: #cfb995;
  background-color: transparent;
}
